* {
    /* #862c25 */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Dosis', sans-serif; */
    font-family: "Poppins", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
  }
  .container {
    /* background-color: #fff; */
    /* background-color: #ebb9b6; #1 */
    background-color: #b1b6dd;
    /* width: 100vw; */
    /* height: 100vh; */
    min-height: 100vh;
    background-size: cover;
    /* background-attachment: fixed; */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  /*              !....   HEADER START    ....!               */
  
  .subContainer {
    /* width: 50vw; */
    min-width: 50vw;
    width: auto;
    /* width: auto; */
    height: auto;
    /* background: linear-gradient(181deg, #862C25 44%, #C4746E 100%); */
    /* background-color: #ebb9b6; */
    background-color: white;
    margin: auto;
    padding: 20px;
    /* border: 2px solid rgb(158, 118, 118); */
    /* border: 2px solid #342827; */
    border: 2px solid #55597c;
    border-radius: 25px;
    box-shadow: 10px 10px 5px 0px rgba(85, 89, 124, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(85, 89, 124, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(85, 89, 124, 0.75);
    /* background-position: center center; */
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .headerLogo {
    height: 90px;
    width: 90px;
  }
  .headerText {
    padding: 0px 0px 0px 66px;
  }
  
  /*              !....            HEADER ENDS           ....!               */
  
  /*              !....            SECTION-1 STARTS                ....!               */
  
  .button-area {
    /* height: 50px; */
    /* width: 50px; */
    /* border: 2px dotted #6f423e; */
    /* border: 2px dotted #342827; */
    border: 2px dotted #21254b;
    border-radius: 15px;
    /* margin-top: 10px; */
    margin: 15px 7px 15px 7px;
    text-align: center;
    padding: 9px 10px 9px 10px;
  }
  /* .file-input-container .file-input{
      background-color: #0056b3;
  } */
  .action-buttons {
    padding: 10px 20px;
    /* background-color: #7f4b48; */
    background-color: #21254b;
    opacity: 0.9;
    transition: 0.3s;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  .action-buttons:hover {
    /* background-color: #5c1e19; #1 */
    /* background-color: #17181c; */
    background-color: #21254b;
    opacity: 1;
    
  }
  
  .buttons {
    margin: auto;
    padding: auto;
  }
  
  input[type="file"] {
      margin-bottom: 10px;
      /* margin: 15px -50px 16px 1p; */
    }
    .file-input-container {
      margin: 0px -63px 0px 0px;
    }
  
  
  /*              !....               SECTION-1 ENDS                ....!               */
  
  
  /*              !....                SECTION-2 STARTS                 ....!          */
  
  /* Style for the file area */
   .file-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      padding: 20px;
      /* border: 1px solid #ccc; */
      /* border-radius: 5px; */
      overflow-y: auto; /* Enable vertical scrolling; */
      overflow-x: auto;
      max-height: 300px; /* Set a max height for the file area; */
  }
  /* Style for the file input
  
  
  /* Style for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #965954; */
    border: 1px solid #21254b;
    border-radius: 10px;
  
  }
  
  /* Style for table headers */
  th {
    /* background-color: #f2f2f2; */
    /* background-color: #ebb9b6; #1 */
    background-color: #b1b6dd;
    /* border: 1px solid #965954; #1 */
    /* border: 1px solid #55597c; */
    border: 1.5px solid #21254b;
    /* border-radius: 8px; */
    padding: 10px;
    /* border-collapse: collapse; */
    /* margin: 10px 10px 10px 10px; */
  }
  
  /* Style for table cells */
  td {
    /* border: 1px solid #ccc; */
    /* border: 1px solid #965954; */
    border: 1px solid #21254b;
    background-color: rgb(177, 182, 221, 0.3);
    padding: 10px;
  }
  
  /* Add styles for the delete button */
  .delete-button {
      background-color: #ff0000;
      color: #fff;
      font-weight: bolder;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 4px 8px;
    }
    
    /* Hover effect for the delete button */
    .delete-button:hover {
      background-color: #d90000;
    }
    /* !....  SECTION-2 ENDS  ....! */
  
  /* Style for the progress bar */
  progress {
    width: 100%;
    height: 20px;
  }
  
  /* Style for the button area */
  /* .button-area {
      /* height: 50px; */
  /* width: 50px; */
  /* border: 2px dotted #6f423e; */
  /* border-radius: 15px; */
  /* margin-top: 10px; */
  /* } */
  
  /* Style for the buttons */
  /* button {
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;
  } */
  
  /* button:hover {
      background-color: #0056b3;
  } */
  
 /* Hide the table initially */
#fileTable {
  display: none;
}
