body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #862c25;
    color: #fff;
    padding: 20px;
}

.headerLogo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.headerText {
    font-size: 24px;
}

.subContainer {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.file-input-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px dashed #862c25;
    border-radius: 5px;
    margin-bottom: 20px;
}

.file-input-text {
    margin-left: 10px;
    font-weight: bold;
    color: #862c25;
}

.file-input {
    display: none;
}

.action-buttons {
    background-color: #862c25;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

#fileTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

#fileTable th,
#fileTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .file-input-container {
        flex-direction: column;
        text-align: center;
    }

    .file-input-text {
        margin: 10px 0;
    }

    .action-buttons {
        margin-top: 10px;
    }

    #fileTable {
        font-size: 14px;
    }
}

#fileTable {
  display: none;
}
